.layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-main {
    flex: 1 0 auto;
    padding: 3.5rem 0;
  }

}

.container {
  position: static !important;
}

.row {
  flex-wrap: wrap;
  margin: -1rem;
}

.column {
  padding: 1.5rem !important;
}